/*body background css*/
body{
    padding: 0;
    margin: 0;  
    background: #000000;
    background-size: cover;
}
/*rotate imagem logo-davidDd*/
.rotate-logo-davidDd {
    display:block;
    position: fixed;
    top: 25%;
    left: 50%;
    width:350px;
    height:350px;
    margin-left:-200px;
    margin-top:-40px;
    /* margin: -60px 0 0 -60px; */    
    /*rotação*/
    -webkit-transition: -webkit-transform 2s;
}

/*rotação*/
.rotate-logo-davidDd:hover{
    -webkit-transform: rotate(360deg) translateZ(0);
}

.dica {
    color: darkred;
    text-align: center;
    margin-top:500px;
    
}

/* dica da logo */

.dica p {
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: 0.15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: 0.15em; 
    animation: typing 3.5s steps(120, end) alternate infinite,
      blink-caret 0.5s step-end infinite, rotateText 3.5s ease alternate infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 30%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  
  @keyframes rotateText {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg) scale(1.5) translateX(10px) skewY(10deg);
    }
    75% {
      transform: rotate(-10deg) scale(0.8) translateX(-10px) skewY(-10deg);
    }
    100% {
      transform: rotate(5deg) scale(1.2) translateX(5px) skewY(5deg);
    }
  }